/*
  Learn more:
  https://www.sanity.io/guides/how-to-brand-your-studio
*/

/* Custom fonts */
/*
  @import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
  /* Brand colors */
  --brand-primary: #1BBC9B;
  /* Typography */
  --font-family-sans-serif: 'Montserrat';
  --font-size-base: 18px;
  --text-color: #000;
  /* Main Navigation */
  --main-navigation-color: var(--brand-primary);
  --main-navigation-color--inverted: #fff;
}
