$vert: #32b298;
$grisc: #efefef;
$grisf: #3d3d3d;

.container {
  background: radial-gradient(
    100px at 105% 50vh,
    $vert 0%,
    $vert 32vh,
    rgba(0, 0, 0, 0) 0px
  );
  background-attachment: fixed;
  margin: 0 auto;
  width: 100vw;
  margin-left: 2rem;
  display: grid;
  grid-template-columns: repeat(15, 25vw);
  grid-template-rows: 30vh 30vh;
  grid-gap: 1rem;
  grid-auto-flow: column dense;
  overflow-x: scroll;
  .item {
    border: solid 1px black;
    border-radius: 25px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
  .rectangle {
    grid-column: span 2;
    grid-row: span 1;
  }
  .carree {
    grid-column: span 1;
    grid-row: span 1;
  }
  .vertical {
    grid-column: span 1;
    grid-row: span 2;
  }
} // fin container
