@import '../pages/normalize.module.css';
.content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  background-color: tomato;
}
