@import "../pages/normalize.module.css";

$vert: #32b298;
$grisc: #efefef;
$grisf: #3d3d3d;

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.arrow {
  font-size: 50px;
  padding-left: 120px;
  margin-top: 40px;
}

.container {
  display: flex;
  height: 80vh;
  background: radial-gradient(
    100px at 30% 40vh,
    $vert 0%,
    $vert 32vh,
    rgba(0, 0, 0, 0) 0px
  );
}

.content {
  width: 25%;
  text-align: justify;
  font-size: 14px;
  margin: auto;
  margin-left: 120px;
}

.wrapper img {
  width: 791px;
  height: 551px;
  border-radius: 20px;
  margin: auto;
}

button {
  background-color: #fff;
  box-shadow: 3px 3px 8px #00000029;
  border-radius: 10px;
  border: none;
  width: 200px;
  height: 41px;
  font-size: 20px;
  color: #1bbc9b;
  &:hover {
    background-color: $grisf;
  }
}
